* {
    box-sizing: border-box;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 20px;
  height: 100vh;
  color: #293264;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-items: center;
  position: relative; /* ⬅️ Make body the positioning context and below for bkg*/
  min-height: 100vh;
  overflow-x: hidden;
}

.bg-img {
  position: absolute;
  height: auto;
  opacity: 0.9;
  z-index: -1;
  pointer-events: none; /* Optional: ensures images don’t interfere with clicks */
}

.bg-img.left {
  bottom: -12%;
  left: -14%;
}

.bg-img.right {
  top: -23%;
  right: -22%;
}

main { /* so that you skip placing flex on every division*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-items: center;
}

h1{
  font-family: "Karla", sans-serif;

}

/* STARTER SCREEN */
.starter-btn{
  color: #F5F7FB;
  background-color: #4D5B9E;
  border-radius: 15px;
  width: 193px;
  height: 52px;
  border: 1px solid #4D5B9E;
  font-size:16px;
  font-family: "Karla", sans-serif;
}